    <div class="row ">

  
        <div class="col" style="margin:2%">

            <div class="row card shadow">
                <div class="card-header font-weight-bold" style="color:white;background-color:cornflowerblue">Project Rate Details</div>
               <div class="card-body">

                   <div class="row m-3">

                       <div class="container border-left-primary">
                           <div class="row m-3">

                               <div class="col-sm-5"><label for="BillableRate" class="font-weight-bold">Billable Rate</label></div>
                               <div class="col-sm-7"><input type="text" class="form-control" id="BillableRate" /></div>

                           </div>
                           <div class="row m-3">

                               <div class="col-sm-5"><label for="BillableRate" class="font-weight-bold">OT Billable Rate</label></div>
                               <div class="col-sm-7"><input type="text" class="form-control" id="BillableRate" /></div>

                           </div>
                           <div class="row m-3">

                               <div class="col-sm-5"><label for="BillableRate" class="font-weight-bold">Premiun Rate</label></div>
                               <div class="col-sm-7"><input type="text" class="form-control" id="BillableRate" /></div>

                           </div>
                       </div>

                   </div>

                   <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="false">
                      
                      <!--This list box option-->

                       <div class="row m-3">


                           <div class="card w-100">

                               <!-- Card header -->
                               <div class="card-header bg-gray-900" role="tab" id="Listheading">
                                   <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#listCollapsedDiv"
                                      aria-expanded="false" aria-controls="listCollapsedDiv">
                                       <div class="row ">
                                           <div class="col-sm-10">

                                               <h6 class="text-white font-weight-bold">List (Default) Option</h6>

                                           </div>
                                           <div class="col-sm-2 text-right">

                                               <i class="fa fa-arrow-alt-circle-down fa-2x" style="color:white"></i>

                                           </div>
                                       </div>
                                   </a>
                               </div>

                               <!-- Card body -->
                               <div id="listCollapsedDiv" class="collapse show" role="tabpanel" aria-labelledby="Listheading"
                                    data-parent="#accordionEx1">
                                   <div class="card-body">

                                       <div class="container border-left-danger">

                                           <div class="row m-3">
                                               <div class="col-sm-6">

                                                   <label for="GlExpenseList" class="font-weight-bold">Gl Expnese list</label>
                                                   <select class="form-control">

                                                       <option>Select an option</option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>

                                                   </select>

                                               </div>
                                               <div class="col-sm-6">

                                                   <label for="GlIncomeList" class="font-weight-bold">Gl Income list</label>
                                                   <select class="form-control">

                                                       <option>Select an option</option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>

                                                   </select>

                                               </div>
                                           </div>
                                           <div class="row m-3">
                                               <div class="col-sm-6">

                                                   <label for="GlExpenseList" class="font-weight-bold">Default Fee Type</label>
                                                   <select class="form-control">

                                                       <option>Select an option</option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>

                                                   </select>

                                               </div>
                                               <div class="col-sm-6">

                                                   <label for="GlIncomeList" class="font-weight-bold">Default Fee schedule</label>
                                                   <select class="form-control">

                                                       <option>Select an option</option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>
                                                       <option>GL one </option>

                                                   </select>

                                               </div>
                                           </div>

                                       </div>

                                   </div>
                               </div>

                           </div>

                       </div>

                       <!--this text box option -->
                       
                       <div class="row m-3">

                           <div class="card w-100">

                               <!-- Card header -->
                               <div class="card-header bg-gray-900" role="tab" id="Taxheading">
                                   <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#TaxCollapsedDiv"
                                      aria-expanded="false" aria-controls="TaxCollapsedDiv">
                                       <div class="row ">
                                          <div class="col-sm-10">

                                              <h5 class="text-white font-weight-bold">Tax Schmes Option</h5>

                                          </div>
                                          <div class="col-sm-2 text-right">

                                              <i class="fa fa-arrow-alt-circle-down fa-2x" style="color:white"></i>

                                          </div>
                                       </div>
                                   </a>
                               </div>

                               <!-- Card body -->
                               <div id="TaxCollapsedDiv" class="collapse" role="tabpanel" aria-labelledby="Taxheading"
                                    data-parent="#accordionEx1">
                                   <div class="card-body">
                                      
                                       <div class="container border-left-secondary">

                                           <div class="row m-3">

                                               <div class="col-sm-6">

                                                   <label for="Tax1" class="font-weight-bold">Tax scheme 1</label>
                                                   <input type="text" class="form-control" id="Tax1"/> 

                                               </div>
                                               <div class="col-sm-6">

                                                   <label for="Tax1" class="font-weight-bold">Tax scheme 2</label>
                                                   <input type="text" class="form-control" id="Tax1" />

                                               </div>

                                           </div>
                                           <div class="row m-3">

                                               <div class="col-sm-6">

                                                   <label for="Tax1" class="font-weight-bold">Tax scheme 3</label>
                                                   <input type="text" class="form-control" id="Tax1" />

                                               </div>
                                               <div class="col-sm-6">

                                                   <label for="Tax1" class="font-weight-bold">Tax scheme 4</label>
                                                   <input type="text" class="form-control" id="Tax1" />

                                               </div>

                                           </div>

                                       </div>

                                   </div>
                               </div>

                           </div>


                       </div>

                      

                   </div>
                   <div class="row m-3" style="float:right">

                       <button class="btn btn-primary">Update </button>

                   </div>
            </div>

        </div>

    </div>

