<div class="container">


    <div class="row">
        
        <center>@ViewBag.type</center>
    
    </div>
    <div class="row">

        <a><div class="text-center">@ViewBag.URL</div></a>

    </div>

</div>