<div class="container">

    <div class="row">

        <div class="col text-center"><i class="fas fa-cog fa-10x fa-spin" style="color:@ViewBag.ColorCode"></i></div>

    </div>

    <div class="row">

        <div class="col text-center"><h4 class="font-weight-bold">@ViewBag.Message</h4></div>

    </div>

</div>
